.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft ###
run/*

!run/plugins
!run/plugins/**

!run/world
!run/world/**
!run/field
!run/field/**

run/world/playerdata
run/world/playerdata/**

run/**/build
run/**/build/**

run/**/user
run/**/user/**

run/**/backup
run/**/backup/**

run/**/cache
run/**/cache/**

run/**/data
run/**/data/**

run/**/advancements
run/**/advancements/**

run/**/stats
run/**/stats/**


run/**/*.db
run/**/*.lock

run/**/.*
run/**/.*/**